pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
dev-config.edn
test-config.edn	
/.shadow-cljs/
.nrepl-history
/node_modules/
/resources/public/js/cljs-runtime/
/resources/public/js/