#sidebar-page {
    @media (max-width: $bp-tablet){
        grid-template-columns: 110px auto;
    }
    @media (max-width: $bp-mobile){
        grid-template-columns: 60px auto;
    }
    display: grid;
    grid-template-columns: 140px auto;
    height: 100%;
}

#sidebar{
    background-color: $color-700;
    color: $color-50;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid $color-800;
    z-index: 2;
    @include right-shadow();
    &:hover {
        @include right-shadow-hover();
    }
    .menu-item {
        @media (max-width: $bp-mobile){
            height: 60px;
        }
        width: 100%;
        height: 75px;
        border-bottom: 1px solid $color-800;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            transition: 0.3s background-color;
            background-color: $color-800;
            .icon {
                text-shadow: 0px 0px 5px $color-100;
            }
            .label {
                text-shadow: 0px 0px 5px $color-100;
            }
        }
        .icon {
            @media (max-width: $bp-mobile){
                font-size: 1.4rem;
            }
            font-size: 1.6rem;
            transition: 0.3s text-shadow;
        }
        .label {
            @media (max-width: $bp-mobile){
                display: none;
            }
            font-family: $font-title1;
            transition: 0.3s text-shadow;
        }

    }
    .menu-item-active {
        background-color: $color-800;
        .icon {
            text-shadow: 0px 0px 5px $color-100;
        }
        .label {
            text-shadow: 0px 0px 5px $color-100;
        }
    }
}

#panel-container-menu {
    grid-column: 2/3;
    overflow-y: auto;
}

#panel-container-full {
    grid-column: 1/3;
    overflow-y: auto;
}

#panel-container {
    position: relative;
    height: 100%;
    overflow-y: scroll;
}


#sidebar-overlay {
    background-color: $color-50;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
   }

@keyframes rotation {
    0% {transform : rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#overlay-loading {
    i {
        font-size: 5rem;
        color: $color-800;
        animation-name: rotation;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

#overlay-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon {
        font-size: 4rem;
        margin-bottom: 1rem;
        color: $color-900;
    }
    .label {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: $color-800;
        font-family: $font-title1;
    }
    .desc {
        font-size: 1.4rem;
        color: $color-700;
        font-famly: $font-text;
        text-align: center;
    }
}
