/* colors */

$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;


$red-50: #FFEBEE;
$red-100: #FFCDD2;
$red-200 : #EF9A9A;
$red-300: #E57373;
$red-400: #EF5350;
$red-500: #F44336;
$red-600: #E53935;
$red-700: #D32F2F;
$red-800: #C62828;
$red-9100: #B71C1C;

$lblue-50: #E1F5FE;
$lblue-100: #B3E5FC;
$lblue-200: #81D4FA;
$lblue-300: #4FC3F7;
$lblue-400: #29B6F6;
$lblue-500: #03A9F4;
$lblue-600: #039BE5;
$lblue-700: #0288D1;
$lblue-800: #0277BD;
$lblue-900: #01579B;

$purple-50: #F3E5F5;
$purple-100: #E1BEE7;
$purple-200: #CE93D8;
$purple-300: #BA68C8;
$purple-400: #AB47BC;
$purple-500: #9C27B0;
$purple-600: #8E24AA;
$purple-700: #7B1FA2;
$purple-800: #6A1B9A;
$purple-900: #4A148C;

$orange-50: #FFF3E0;
$orange-100: #FFE0B2;
$orange-200: #FFCC80;
$orange-300: #FFB74D;
$orange-400: #FFA726;
$orange-500: #FF9800;
$orange-600: #FB8C00;
$orange-700: #F57C00;
$orange-800: #EF6C00;
$orange-900: #E65100;


$color-50: $purple-50;
$color-100: $purple-100;
$color-200: $purple-200;
$color-300: $purple-300;
$color-400: $purple-400;
$color-500: $purple-500;
$color-600: $purple-600;
$color-700: $purple-700;
$color-800: $purple-800;
$color-900: $purple-900;

$second-50: $orange-50;
$second-100: $orange-100;
$second-200: $orange-200;
$second-300: $orange-300;
$second-400: $orange-400;
$second-500: $orange-500;
$second-600: $orange-600;
$second-700: $orange-700;
$second-800: $orange-800;
$second-900: $orange-900;



/* breakpoints */
$bp-mobile : 480px;
$bp-tablet : 839px;
$bp-pc : 1024px;


/* fonts */
$font-title1 : 'Comfortaa';
$font-title2 : 'ABeeZee';
$font-text : 'KoHo';
